.show-password-button {
    right: 1rem;
    left: auto;
    transform: translate(0, -50%);
    width: 1.5rem;
    height: 1.5rem;
    padding: .5rem;
    box-sizing: content-box;
}

.show-password-button svg {
    height: 100%;
    width: 100%;
}

.password-field input::-ms-reveal,
.password-field  input::-ms-clear {
    display: none;
}