input[type="checkbox" i] {
  border: 2px solid var(--secondfontcolor);
  background-color: white;
  appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 5px;
}

.checkbox-wrap {
  position: relative;
  width: 1.5em;
  height: 1.5em;
}

.checkbox-tick {
  opacity: 0;
  pointer-events: none;
  transition: all .15s ease-out;
}

input[type="checkbox" i]:checked+.checkbox-tick {
  opacity: 1;
}

label:has(.checkbox-wrap) {
  cursor: pointer;
}